<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$$if(project)$ &mdash; $project$$endif$</title>
    <link rel="stylesheet" href="$site-base$css/site.css">
    <link rel="stylesheet" href="$site-base$css/code-blocks.css">
$for(extra-css)$
    <link rel="stylesheet" href="$site-base$css/$extra-css$">
$endfor$
    <script type="module" src="$site-base$js/copyToClipboard.js"></script>
$for(extra-js)$
    <script type="module" src="$site-base$js/$extra-js$"></script>
$endfor$
    <script type="module" src="https://media.library.caltech.edu/cl-webcomponents/footer-global.js"></script>
</head>
<body>
<header>
<a href="https://library.caltech.edu"><img src="https://media.library.caltech.edu/assets/caltechlibrary-logo.png" alt="Caltech Library logo"></a>
</header>
<a href="#main-content" class="visually-hidden">skip to main content</a>
<nav>
<ul>
    <li><a href="/">All Library Apps</a></li>
    <li><a href="index.html">Home</a></li>
$if(search)$
    <li><a href="search.html">Search</a></li>
$endif$
$if(repo-url)$
    <li><a href="$repo-url$">Code Repository</a></li>
$endif$
</ul>
</nav>
<section id="main-content">
$body$
</section>
<footer-global></footer-global>
</body>
</html>
